html, body{
	height: 105%;
	
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Poppins', sans-serif;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../bgg.jpeg);
	padding: 50px;
	height: 50%;
	background-size: cover;
	background-position: center;
	font-family: 'Poppins', sans-serif;
}
h2{
	text-align: left;
	border-radius: 50px;
	height: `100px;
	color: #35bbf4;
	font-size: 70px;
}
p{
	color: #fff;
	font-size: 20px;
}
